<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- boxicon cdn link -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- custom css link -->
    <link rel="stylesheet" th:href="@{/css/style.css/}" />

    <link rel="stylesheet" th:href="@{css/uikit.min.css}" />
    <script th:src="@{js/uikit.min.js}"></script>
    <script th:src="@{js/uikit-icons.min.js}"></script>

    <!-- add js for annualy, quartly, monthly bar graph -->
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>

    <script>
      const stages = ["播種", "種植", "收成", "加工", "包裝", "運送"];
      function updateStageFunction(button, direction) {
        const row = button.closest("tr");
        const detailId = row.cells[0].textContent; // 假设 ID 在第一个单元格
        let currentStageIndex = stages.indexOf(row.cells[3].textContent); // 假设当前阶段在第四个单元格
        console.log(row);

        if (direction === "next" && currentStageIndex < stages.length - 1) {
          sendStageUpdate(
            detailId,
            stages[currentStageIndex],
            stages[currentStageIndex + 1],
            stages[currentStageIndex + 2]
          );
        } else if (direction === "prev" && currentStageIndex > 0) {
          sendStageUpdate(
            detailId,
            stages[currentStageIndex - 2],
            stages[currentStageIndex - 1],
            stages[currentStageIndex]
          );
        }
      }

      function updateTableWithNewData(
        detailId,
        previousStage,
        currentStage,
        nextStage
      ) {
        // 找到对应的表格行并更新内容
        console.log(previousStage, currentStage, nextStage);
        const row = document.getElementsByClassName(`detailID${detailId}`);
        console.log(`tr[data-detail-id='${detailId}']`);
        console.log(
          document.getElementsByClassName(`previous-stage-cell${detailId}`)
        );
        let text = document.getElementsByClassName(
          `previous-stage-cell${detailId}`
        );
        console.log(text[0].innerText);

        document.getElementsByClassName(
          `previous-stage-cell${detailId}`
        )[0].innerText = previousStage;
        document.getElementsByClassName(
          `current-stage-cell${detailId}`
        )[0].innerText = currentStage;
        document.getElementsByClassName(
          `next-stage-cell${detailId}`
        )[0].innerText = nextStage;

        // 其他任何需要更新的内容
      }

      function sendStageUpdate(
        detailId,
        newPreviousStage,
        newCurrentStage,
        newNextStage
      ) {
        fetch(`/plantingDetail/updateStage/${detailId}`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            previousStage: newPreviousStage,
            currentStage: newCurrentStage,
            nextStage: newNextStage,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            // 检查是否更新成功
            if (data.success) {
              // 更新页面内容
              // 例如，更新表格中的数据
              updateTableWithNewData(
                detailId,
                data.previousStage,
                data.currentStage,
                data.nextStage
              );
            } else {
              // 错误处理
              console.error("Update failed");
            }
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
    <script type="text/javascript" th:src="@{/script.js/}"></script>

    <title>嘉義茶農</title>
  </head>

  <body>
    <!-- header section st     art -->
    <header>
      <!--         <a href="#home"><img src="image/tea-logo.png" alt="" width="110"></a>

 -->
      <a href="#home"
        ><img th:src="@{images/tea-logo.png}" alt="" width="110"
      /></a>

      <nav class="navbar">
        <ul>
          <li><a href="#home">首頁</a></li>
          <li><a href="#inventory">庫存管理</a></li>
          <li><a href="#schedule">種植排程</a></li>
          <li><a href="#order">訂單</a></li>
          <li><a href="#cust-analysis">顧客分析</a></li>
          <li><a href="#sale-analysis">銷售分析</a></li>
          <li><a href="#cust-info">顧客資料查詢</a></li>
        </ul>
      </nav>
    </header>
    <!-- header section end -->

    <!-- home section start -->
    <div class="slider-container" id="home">
      <div class="slider">
        <!-- slide box -->
        <div class="slideBox active">
          <div class="textBox">
            <h1>嘉義茶農 管理系統</h1>
          </div>
          <div class="imgBox">
            <!--                     <img src="image/slider.webp" alt=""> -->
            <img th:src="@{images/slider.webp}" alt="" />
          </div>
        </div>
      </div>
    </div>
    <!-- home section end -->

    <!-- inventory section -->
    <div class="inventory" id="inventory">
      <div class="heading">
        <h1>庫存管理</h1>
      </div>

      <table>
        <thead>
          <tr>
            <th>圖片</th>
            <th>ID</th>
            <th>茶種</th>
            <th>庫存量</th>
            <th>零售價</th>
            <th>總庫存價值</th>
            <th>編輯</th>
          </tr>
        </thead>
        <tbody th:each="inventory, iterStat : ${inventories}">
          <tr>
            <!-- Existing Inventory Row -->
            <td>
              <img
                class="image"
                th:src="@{'/images/' + ${inventory?.tea?.teaID} + '.jpg'}"
                alt="Tea Image"
              />
            </td>
            <td th:text="${inventory.tea.teaID}"></td>
            <td th:text="${inventory.tea.teaName}"></td>
            <td th:text="${inventory.invQuantity}"></td>
            <td th:text="'＄' + ${inventory.invretailPrice}"></td>
            <td th:text="'＄' + ${inventory.totalInvValue}"></td>
            <td>
              <button
                class="editBtn"
                type="button"
                th:onclick="showEditForm([[${iterStat.index}]])"
              >
                編輯
              </button>
            </td>
          </tr>

          <!-- Hidden Edit Form Row -->
          <tr
            th:id="'editForm-' + ${iterStat.index}"
            style="display: none"
            th:if="${inventories}"
          >
            <td colspan="7">
              <form
                th:action="@{/inventory/update/{id}(id=${inventory?.tea?.teaID})}"
                th:method="post"
              >
                <input
                  type="number"
                  name="invQuantity"
                  placeholder="庫存量"
                  required
                />
                <input
                  type="number"
                  name="invretailPrice"
                  placeholder="零售價"
                  required
                />
                <button class="editBtn" type="submit">完成</button>
                <button
                  class="editBtn"
                  type="button"
                  th:onclick="hideEditForm([[${iterStat.index}]])"
                >
                  放棄變更
                </button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- inventory section end -->

    <!-- schedule section start -->
    <section class="schedule uk-background-cover" id="schedule">
      <div class="heading">
        <h1>種植排程</h1>
      </div>
      <div
        class="uk-margin-small uk-card uk-card-default uk-card-body uk-container uk-container-small"
      >
        <div class="uk-margin-small uk-card uk-card-default uk-card-body">
          <h3>種植狀況</h3>
          <!-- 種植狀況資料-->
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>茶種</th>
                <th>種植面積</th>
                <th>播種日期</th>
                <th>預計收成日期</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody th:each="detailDTO, iterStat : ${plantingDetailDTOs}">
              <tr>
                <td th:text="${detailDTO.plantingDetail.plantingDetailID}"></td>
                <td th:text="${detailDTO.plantingDetail.tea.teaName}"></td>
                <td th:text="${detailDTO.plantingDetail.plantArea}"></td>
                <td
                  th:text="${#dates.format(detailDTO.plantingDetail.plantDate, 'MM/dd/yyyy')}"
                ></td>
                <td
                  th:text="${#dates.format(detailDTO.estimatedHarvestDate, 'MM/dd/yyyy')}"
                ></td>

                <td>
                  <button
                    class="editBtn"
                    th:onclick="'toggleEditModeok(' + ${iterStat.index} + ')'"
                  >
                    編輯
                  </button>
                </td>
              </tr>
              <!-- Hidden Edit Form Row -->
              <tr
                th:id="'plantingDetailForm-' + ${iterStat.index}"
                style="display: none"
                th:if="${inventories}"
              >
                <td colspan="7">
                  <form
                    th:action="@{/plantingDetail/update/{id}(id=${detailDTO?.plantingDetail?.PlantingDetailID})}"
                    th:method="post"
                  >
                    <input
                      type="number"
                      name="plantArea"
                      placeholder="種植面積"
                      required
                    />
                    <input
                      type="date"
                      name="plantDate"
                      placeholder="播種日期"
                      required
                    />
                    <button class="editBtn" type="submit">完成</button>
                    <button
                      type="button"
                      class="editBtn"
                      th:onclick="'toggleEditModeok(' + ${iterStat.index} + ')'"
                    >
                      放棄變更
                    </button>
                  </form>
                </td>
              </tr>
              <!-- ... -->
            </tbody>
          </table>
        </div>
        <br /><br />
        <div class="uk-margin-small uk-card uk-card-default uk-card-body">
          <h3>生長情況</h3>
          <!-- 生長情況<資料-->
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>茶種</th>
                <th>第 1 ~ 10 天</th>
                <th>第 11 ~ 20 天</th>
                <th>第 21 ~ 30 天</th>
                <th>第 31 ~ 40 天</th>
                <th>第 41 ~ 50 天</th>
                <th>50 天 +</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody th:each="detailDTO, iterStat : ${plantingDetailDTOs}">
              <tr>
                <td th:text="${detailDTO.plantingDetail.plantingDetailID}"></td>
                <td th:text="${detailDTO.plantingDetail.tea.teaName}"></td>
                <td
                  th:text="${detailDTO.plantingDetail.firstTenDay} ?: '尚未輸入'"
                ></td>
                <td
                  th:text="${detailDTO.plantingDetail.secondTenDay} ?: '尚未輸入'"
                ></td>
                <td
                  th:text="${detailDTO.plantingDetail.thridTenDay} ?: '尚未輸入'"
                ></td>
                <td
                  th:text="${detailDTO.plantingDetail.fourthTenDay} ?: '尚未輸入'"
                ></td>
                <td
                  th:text="${detailDTO.plantingDetail.fifthTenDay} ?: '尚未輸入'"
                ></td>
                <td
                  th:text="${detailDTO.plantingDetail.aboveFifttyDay} ?: '尚未輸入'"
                ></td>
                <td>
                  <button
                    class="editBtn"
                    th:onclick="'toggleEditModeGrowthDetail(' + ${iterStat.index} + ')'"
                  >
                    編輯
                  </button>
                </td>
              </tr>
              <!-- Hidden Edit Form Row -->
              <tr
                th:id="'GrowthDetailForm-' + ${iterStat.index}"
                style="display: none"
                th:if="${inventories}"
              >
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="7">
                  <form
                    th:action="@{/plantingDetail/updateGrowth/{id}(id=${detailDTO?.plantingDetail?.PlantingDetailID})}"
                    th:method="post"
                  >
                    <!-- Dropdowns for each ten-day period -->
                    <select name="firstTenDay">
                      <option value="良好">良好</option>
                      <option value="完美">完美</option>
                      <option value="不良">不良</option>
                      <option value="死亡">死亡</option>
                      <option value="尚未輸入">尚未輸入</option>
                    </select>
                    <select name="secondTenDay">
                      <option value="良好">良好</option>
                      <option value="完美">完美</option>
                      <option value="不良">不良</option>
                      <option value="死亡">死亡</option>
                      <option value="尚未輸入">尚未輸入</option>
                    </select>
                    <select name="thridTenDay">
                      <option value="良好">良好</option>
                      <option value="完美">完美</option>
                      <option value="不良">不良</option>
                      <option value="死亡">死亡</option>
                      <option value="尚未輸入">尚未輸入</option>
                    </select>
                    <select name="fourthTenDay">
                      <option value="良好">良好</option>
                      <option value="完美">完美</option>
                      <option value="不良">不良</option>
                      <option value="死亡">死亡</option>
                      <option value="尚未輸入">尚未輸入</option>
                    </select>
                    <select name="fifthTenDay">
                      <option value="良好">良好</option>
                      <option value="完美">完美</option>
                      <option value="不良">不良</option>
                      <option value="死亡">死亡</option>
                      <option value="尚未輸入">尚未輸入</option>
                    </select>

                    <!-- ... Add similar dropdowns for other ten-day periods -->
                    <select name="aboveFifttyDay">
                      <!-- Similar options for aboveFifttyDay -->
                      <option value="良好">良好</option>
                      <option value="完美">完美</option>
                      <option value="不良">不良</option>
                      <option value="死亡">死亡</option>
                      <option value="尚未輸入">尚未輸入</option>
                    </select>

                    <!-- Submit and Cancel buttons -->

                    <button class="editBtn" type="submit">完成</button>
                    <button
                      type="button"
                      class="editBtn"
                      th:onclick="'toggleEditModeGrowthDetail(' + ${iterStat.index} + ')'"
                    >
                      放棄變更
                    </button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <br /><br />
        <div class="uk-margin-small uk-card uk-card-default uk-card-body">
          <h3>處理階段</h3>
          <!-- 處理階段資料-->

          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>茶種</th>
                <th>上個階段</th>
                <th>目前階段</th>
                <th>下個階段</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody th:each="detailDTO, iterStat : ${plantingDetailDTOs}">
              <tr
                th:class="'detailID' + ${detailDTO.plantingDetail.plantingDetailID}"
              >
                <td th:text="${detailDTO.plantingDetail.plantingDetailID}"></td>
                <td th:text="${detailDTO.plantingDetail.tea.teaName}"></td>
                <td
                  th:class="'previous-stage-cell' + ${detailDTO.plantingDetail.plantingDetailID}"
                  th:text="${detailDTO.plantingDetail.previousStage}"
                ></td>
                <td
                  th:class="'current-stage-cell' + ${detailDTO.plantingDetail.plantingDetailID}"
                  th:text="${detailDTO.plantingDetail.currentStage}"
                ></td>
                <td
                  th:class="'next-stage-cell' + ${detailDTO.plantingDetail.plantingDetailID}"
                  th:text="${detailDTO.plantingDetail.nextStage}"
                ></td>

                <td>
                  <button
                    class="stagebtn prev-stage"
                    onclick="updateStageFunction(this, 'prev')"
                  >
                    回上一階段
                  </button>
                  <button
                    class="stagebtn next-stage"
                    onclick="updateStageFunction(this, 'next')"
                  >
                    去下一階段
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <!-- schedule section end -->

    <!-- order section start -->
    <section class="uk-background-cover uk-margin-large" id="order">
      <div class="heading">
        <h1>訂單</h1>
        <div
          class="uk-margin-small uk-card uk-card-default uk-card-body uk-container uk-container-small"
        >
          <table id="myTable">
            <thead>
              <tr>
                <th>訂單ID</th>
                <th>訂單日期</th>
                <th>訂購數量</th>
                <th>顧客名稱</th>
                <th>茶名</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="order : ${orders}">
                <td th:text="${order.OrderID}">訂單ID</td>
                <td th:text="${order.ODate}">訂單日期</td>
                <td th:text="${order.OQuantity}">訂購數量</td>
                <td th:text="${order.customer.cName}">顧客名稱</td>
                <td th:text="${order.tea.TeaName}">茶名</td>
                <td>
                  <button class="editBtn" onclick="toggleEditMode(this)">
                    編輯
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <script>
          function toggleEditMode(button) {
            var row = button.closest("tr");
            var cells = row.querySelectorAll("td:not(:last-child)");

            cells.forEach(function (cell) {
              var isEditable = cell.getAttribute("contenteditable") === "true";
              cell.contentEditable = !isEditable;
            });

            if (button.textContent === "編輯") {
              button.textContent = "儲存";
              button.className = "saveBtn";
            } else {
              button.textContent = "編輯";
              button.className = "editBtn";
            }
          }
        </script>

        <!-- 1224 加入"新增訂單功能" -->
        <br /><br />
        <div>
          <button class="addOrder" onclick="openForm()">新增訂單</button>
          <div id="myModal">
            <div class="close-container">
              <span button class="close" onclick="closeForm()">&times;</span>
            </div>
            <form th:action="@{orders/add}" th:method="post">
              <label for="customerSelect">選擇客戶: </label>
              <select id="customerSelect" name="customerID">
                <!-- 客戶選項將在這裡生成 -->
              </select>
              <br /><br />
              <label for="name">青心烏龍茶之訂購量 : </label>
              <input type="text" id="13" name="ulonTeaQuantity" />
              <br /><br />
              <label for="name">文山包種茶之訂購量 : </label>
              <input type="text" id="14" name="wenshanTeaQuantity" />
              <br /><br />
              <label for="name">東方美人茶之訂購量 : </label>
              <input type="text" id="15" name="beautyTeaQuantity" />
              <br /><br />

              <input type="submit" id="submit" value="上傳" />
            </form>
          </div>
        </div>
      </div>
      <!-- 1224 加入"新增訂單功能" -->
    </section>
    <!-- order section end -->

    <!-- Customer anlaysis section start -->
    <section class="uk-background-cover" id="cust-analysis">
      <div class="heading">
        <h1>顧客分析</h1>
      </div>
      <div
        class="uk-margin-small uk-card uk-card-default uk-card-body uk-container uk-container-small"
      >
        <!-- 顧客終身價值 Box -->
        <div
          class="uk-margin-small uk-card uk-card-default uk-card-body"
          id="cust-clv"
        >
          <h3>終身價值</h3>
          <div class="box-container">
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>姓名</th>
                  <th>CLV（客戶終身價值）</th>
                </tr>
              </thead>
              <tbody th:each="customer, iterStat : ${customerAnalysis}">
                <tr>
                  <td th:text="${customer.customerID}"></td>
                  <td th:text="${customer.cName}"></td>
                  <td th:text="${customer.CLV}"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- 顧客年齡分佈 Box -->
        <div
          class="uk-margin-small uk-card uk-card-default uk-card-body"
          id="cust-age"
        >
          <h2>年齡分佈</h2>
          <div id="age-barchart" style="width: 700px; height: 500px"></div>
        </div>
        <!-- 顧客地區分佈 Box -->
        <div
          class="uk-margin-small uk-card uk-card-default uk-card-body"
          id="cust-location"
        >
          <h2>地區分佈</h2>
          <div id="location-piechart" style="width: 700px; height: 500px"></div>
        </div>
      </div>
    </section>
    <!-- cust analysis section end -->

    <!-- sale anlaysis section start -->
    <section class="sale-analysis" id="sale-analysis">
      <div class="heading">
        <h1>銷售分析</h1>
      </div>
      <div class="box-container">
        <!-- 年銷售額 Box -->
        <div class="box" id="annual-sales-box">
          <h2>年銷售額</h2>
          <div id="annual_chart" style="width: 800px; height: 500px"></div>
        </div>
        <!-- 季銷售額 Box -->
        <div class="box" id="quart-sales-box">
          <h2>季銷售額</h2>
          <div id="quart_chart" style="width: 800px; height: 500px"></div>
        </div>

        <!-- 月銷售額 Box -->
        <div class="box" id="month-sales-box">
          <h2>月銷售額</h2>
          <div id="month_chart" style="width: 800px; height: 500px"></div>
        </div>
      </div>
    </section>
    <!-- sale analysis section end -->

    <!-- cust info section start -->
    <section class="uk-background-cover" id="cust-info">
      <div class="heading">
        <h1>顧客資料查詢</h1>
        <div
          class="uk-margin-small uk-card uk-card-default uk-card-body uk-container-small uk-container"
        >
          <div class="uk-margin">
            <form class="uk-search uk-search-default">
              <a href="" class="uk-search-icon-flip" uk-search-icon></a>
              <input
                class="uk-search-input"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
            </form>
          </div>
          <button
            onclick="loadCustomerData()"
            class="uk-button uk-button-default"
          >
            加載顧客資料
          </button>

          <button
            class="uk-button uk-button-default"
            onclick="toggleCustomerForm()"
          >
            新增客戶
          </button>
          <div
            id="customerFormDiv"
            class="uk-margin-small uk-card uk-card-default uk-card-body"
            style="display: none"
          >
            <div class="uk-grid-small uk-flex-nowrap" uk-grid>
              <p class="uk-text-lead uk-text-left uk-width-1-2@m">新增客戶</p>
              <button
                class="uk-close-large uk-width-1-2@m uk-text-right"
                type="button"
                uk-close
                onclick="clearCustomerForm()"
              ></button>
            </div>

            <form
              action="/customer/add"
              method="post"
              id="customerForm"
              class="uk-grid-small"
              uk-grid
            >
              <div class="uk-width-1-4@s">
                <input
                  class="uk-input"
                  type="text"
                  placeholder="姓名"
                  aria-label="姓名"
                  name="CName"
                />
              </div>
              <div class="uk-width-1-4@s">
                <input
                  class="uk-input"
                  type="text"
                  placeholder="年齡"
                  aria-label="年齡"
                  name="CAge"
                />
              </div>
              <div class="uk-width-1-4@s">
                <input
                  class="uk-input"
                  type="text"
                  placeholder="地區"
                  aria-label="地區"
                  name="Address"
                />
              </div>
              <div class="uk-width-1-4@s">
                <input
                  class="uk-input"
                  type="text"
                  placeholder="電話號碼"
                  aria-label="電話號碼"
                  name="CPhoneNum"
                />
              </div>
              <div class="uk-width-1-1@s uk-text-right">
                <button
                  type="submit"
                  class="uk-button uk-button-primary uk-align-center uk-margin-medium-top"
                >
                  提交
                </button>
              </div>
            </form>
          </div>

          <script>
            function loadCustomerData() {
              fetch("/customer/all")
                .then((response) => response.json())
                .then((customers) => {
                  const tableBody = document.querySelector(
                    "#cust-info table tbody"
                  );
                  tableBody.innerHTML = ""; // 清空表格

                  customers.forEach((customer) => {
                    const row = document.createElement("tr");

                    row.innerHTML = `
        	                  <td>${customer.customerID}</td>
        	                  <td>${customer.cName}</td>
        	                  <td>${customer.cage}</td>
        	                  <td>${customer.address}</td>
        	                  <td>${customer.cPhoneNum}</td>
        	                  <td>${customer.lastPurchaseDate}</td>
        	                  <td>${customer.clv}</td>
        	              `;

                    tableBody.appendChild(row);
                  });
                })
                .catch((error) => console.error("Error:", error));
            }
          </script>

          <div class="uk-margin-small uk-card uk-card-default uk-card-body">
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>姓名</th>
                  <th>年齡</th>
                  <th>地區</th>
                  <th>電話號碼</th>
                  <th>最近購買日期</th>
                  <th>CLV（客戶終身價值）</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="customer : ${customers}">
                  <td th:text="${customer.customerId}"></td>
                  <td th:text="${customer.name}"></td>
                  <td th:text="${customer.age}"></td>
                  <td th:text="${customer.address}"></td>
                  <td th:text="${customer.phoneNumber}"></td>
                  <td th:text="${customer.lastPurchaseDate}"></td>
                  <td th:text="${customer.clv}"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <hr class="uk-divider-icon" />
    </section>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="script.js"></script>
  </body>
  <footer class="">
    <p class="uk-text-small uk-text-muted">嘉義茶農 管理系統</p>
  </footer>
</html>
